.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 3.75rem;
  margin: 20px auto 0;
}

.u-section-1 .u-slider-1 {
  min-height: 180px;
  width: 747px;
  height: auto;
  margin: 39px auto 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 50px;
}

.u-section-1 .u-icon-1 {
  width: 75px;
  height: 75px;
  margin: 53px auto 0 0;
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 501px;
  background-image: none;
  min-height: 40px;
  height: auto;
  margin: -73px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-2 {
  width: 451px;
  background-image: none;
  left: 0;
  right: auto;
  min-height: 36px;
}

.u-section-1 .u-container-layout-3 {
  padding: 4px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 0 0 -26px 401px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 2px 152px 0 75px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 50px;
}

.u-section-1 .u-icon-2 {
  width: 75px;
  height: 75px;
  margin: 51px auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -32px 152px 0 75px;
}

.u-section-1 .u-group-3 {
  width: 501px;
  background-image: none;
  min-height: 40px;
  height: auto;
  margin: -76px 0 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-4 {
  width: 351px;
  background-image: none;
  min-height: 36px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  margin: 4px 0 -26px 301px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 50px;
}

.u-section-1 .u-icon-3 {
  width: 75px;
  height: 75px;
  margin: 53px auto 0 0;
  padding: 0;
}

.u-section-1 .u-group-5 {
  width: 501px;
  background-image: none;
  min-height: 40px;
  height: auto;
  margin: -73px 0 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-6 {
  width: 301px;
  background-image: none;
  min-height: 36px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  margin: 0 0 0 251px;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 2px 152px 0 75px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 50px;
}

.u-section-1 .u-icon-4 {
  width: 75px;
  height: 75px;
  color: rgb(0, 0, 128) !important;
  margin: 53px auto 0 0;
  padding: 0;
}

.u-section-1 .u-group-7 {
  width: 501px;
  background-image: none;
  min-height: 40px;
  height: auto;
  margin: -73px 0 0 auto;
}

.u-section-1 .u-container-layout-11 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-8 {
  width: 451px;
  background-image: none;
  min-height: 36px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-12 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  margin: 4px 0 0 401px;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 2px 152px 0 75px;
}

.u-section-1 .u-container-layout-13 {
  padding: 0 50px;
}

.u-section-1 .u-icon-5 {
  width: 75px;
  height: 75px;
  color: rgb(0, 0, 128) !important;
  margin: 53px auto 0 0;
  padding: 0;
}

.u-section-1 .u-group-9 {
  width: 501px;
  background-image: none;
  min-height: 40px;
  height: auto;
  margin: -73px 0 0 auto;
}

.u-section-1 .u-container-layout-14 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-10 {
  width: 251px;
  background-image: none;
  min-height: 36px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-15 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  margin: 4px 0 0 201px;
}

.u-section-1 .u-text-11 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 2px 152px 0 75px;
}

.u-section-1 .u-container-layout-16 {
  padding: 0 50px;
}

.u-section-1 .u-icon-6 {
  width: 75px;
  height: 75px;
  margin: 53px auto 0 0;
  padding: 0;
}

.u-section-1 .u-group-11 {
  width: 501px;
  background-image: none;
  min-height: 40px;
  height: auto;
  margin: -73px 0 0 auto;
}

.u-section-1 .u-container-layout-17 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-12 {
  width: 251px;
  background-image: none;
  min-height: 36px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-18 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-12 {
  font-weight: 400;
  margin: 4px 0 0 201px;
}

.u-section-1 .u-text-13 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 2px 152px 0 75px;
}

.u-section-1 .u-container-layout-19 {
  padding: 0 50px;
}

.u-section-1 .u-icon-7 {
  width: 75px;
  height: 75px;
  margin: 53px auto 0 0;
  padding: 0;
}

.u-section-1 .u-group-13 {
  width: 501px;
  background-image: none;
  min-height: 40px;
  height: auto;
  margin: -73px 0 0 auto;
}

.u-section-1 .u-container-layout-20 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-14 {
  width: 201px;
  background-image: none;
  min-height: 36px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-21 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-14 {
  font-weight: 400;
  margin: 4px 0 0 151px;
}

.u-section-1 .u-text-15 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 2px 152px 0 75px;
}

.u-section-1 .u-container-layout-22 {
  padding: 0 50px;
}

.u-section-1 .u-icon-8 {
  width: 75px;
  height: 75px;
  margin: 53px auto 0 0;
  padding: 0;
}

.u-section-1 .u-group-15 {
  width: 501px;
  background-image: none;
  min-height: 40px;
  height: auto;
  margin: -73px 0 0 auto;
}

.u-section-1 .u-container-layout-23 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-16 {
  width: 201px;
  background-image: none;
  min-height: 36px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-24 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-16 {
  font-weight: 400;
  margin: 4px 0 0 151px;
}

.u-section-1 .u-text-17 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 2px 152px 0 75px;
}

.u-section-1 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
  left: 0;
  right: auto;
  position: absolute;
}

.u-section-1 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

.u-section-1 .u-text-18 {
  font-weight: 400;
  font-size: 3.75rem;
  margin: 194px auto 0;
}

.u-section-1 .u-text-19 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0 519px 60px 358px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    min-height: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 1px;
    margin-right: 170px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 170px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 1px;
    margin-right: 173px;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-container-layout-12 {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: -3px;
    margin-right: 360px;
    margin-left: 79px;
  }

  .u-section-1 .u-group-9 {
    height: auto;
  }

  .u-section-1 .u-group-10 {
    height: auto;
  }

  .u-section-1 .u-container-layout-15 {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-right: 27px;
    margin-left: 81px;
  }

  .u-section-1 .u-group-11 {
    height: auto;
  }

  .u-section-1 .u-group-12 {
    height: auto;
  }

  .u-section-1 .u-container-layout-18 {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-right: 27px;
    margin-left: 81px;
  }

  .u-section-1 .u-group-13 {
    height: auto;
  }

  .u-section-1 .u-group-14 {
    height: auto;
  }

  .u-section-1 .u-container-layout-21 {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-right: 27px;
    margin-left: 81px;
  }

  .u-section-1 .u-group-15 {
    height: auto;
  }

  .u-section-1 .u-group-16 {
    height: auto;
  }

  .u-section-1 .u-container-layout-24 {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-right: 27px;
    margin-left: 81px;
  }

  .u-section-1 .u-text-19 {
    width: 264px;
    margin-left: 258px;
    margin-right: 419px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-slider-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 16px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -72px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 171px;
    margin-left: 91px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 53px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -33px;
    margin-right: 65px;
    margin-left: 91px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 16px;
  }

  .u-section-1 .u-group-5 {
    margin-top: -72px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 68px;
    margin-left: 91px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 16px;
  }

  .u-section-1 .u-group-7 {
    margin-top: -72px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 259px;
    margin-left: 95px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 16px;
  }

  .u-section-1 .u-group-9 {
    margin-top: -72px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 91px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 16px;
  }

  .u-section-1 .u-group-11 {
    margin-top: -72px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 95px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 16px;
  }

  .u-section-1 .u-group-13 {
    margin-top: -72px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 95px;
  }

  .u-section-1 .u-container-layout-22 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 16px;
  }

  .u-section-1 .u-group-15 {
    margin-top: -72px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 95px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 148px;
    margin-right: 309px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-slider-1 {
    min-height: 229px;
    margin-top: 37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 55px;
    margin-left: 39px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-top: -73px;
    margin-right: 8px;
    margin-left: 114px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 61px;
    margin-left: 47px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-top: -25px;
    margin-right: -86px;
    margin-left: 122px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 4px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 60px;
    margin-left: 43px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 9px;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
    margin-top: -66px;
    margin-right: -79px;
    margin-left: 118px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 59px;
    margin-left: 37px;
  }

  .u-section-1 .u-group-7 {
    min-height: 41px;
    margin-top: 10px;
    margin-right: auto;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
    margin-top: -70px;
    margin-right: 102px;
    margin-left: 112px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 59px;
    margin-left: 47px;
  }

  .u-section-1 .u-group-9 {
    min-height: 41px;
    margin-top: 10px;
    margin-right: auto;
  }

  .u-section-1 .u-text-11 {
    font-size: 1rem;
    margin-top: -70px;
    margin-right: -102px;
    margin-left: 122px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 49px;
    margin-left: 47px;
  }

  .u-section-1 .u-group-11 {
    min-height: 41px;
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-1 .u-text-13 {
    font-size: 1rem;
    margin-top: -70px;
    margin-right: -106px;
    margin-left: 126px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 65px;
    margin-left: 47px;
  }

  .u-section-1 .u-group-13 {
    min-height: 41px;
    margin-top: 4px;
    margin-right: auto;
  }

  .u-section-1 .u-text-15 {
    font-size: 1rem;
    margin-top: -70px;
    margin-right: -102px;
    margin-left: 122px;
  }

  .u-section-1 .u-container-layout-22 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-8 {
    margin-top: 61px;
    margin-left: 47px;
  }

  .u-section-1 .u-group-15 {
    min-height: 41px;
    margin-top: 4px;
    margin-right: auto;
  }

  .u-section-1 .u-text-17 {
    font-size: 1rem;
    margin-top: -70px;
    margin-right: -102px;
    margin-left: 122px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 159px;
  }

  .u-section-1 .u-text-19 {
    font-size: 1rem;
    margin-left: 58px;
    margin-right: 219px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-slider-1 {
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 62px;
    margin-left: 109px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-2 {
    width: 288px;
    min-height: 36px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto 0 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 4px;
    margin-left: 238px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -70px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 70px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 0;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-1 .u-group-3 {
    width: 324px;
    margin-top: -1px;
  }

  .u-section-1 .u-group-4 {
    width: 267px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 8px;
    margin-bottom: 0;
    margin-left: 217px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 65px;
    margin-left: auto;
  }

  .u-section-1 .u-group-5 {
    margin-top: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-6 {
    width: 214px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 4px;
    margin-left: 164px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -63px;
    margin-right: -8px;
    margin-left: 8px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 67px;
    margin-left: 113px;
  }

  .u-section-1 .u-group-7 {
    margin-top: 26px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-8 {
    width: 296px;
    min-height: 37px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 8px;
    margin-left: 246px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -67px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 68px;
    margin-left: auto;
  }

  .u-section-1 .u-group-9 {
    width: 308px;
    margin-top: 29px;
  }

  .u-section-1 .u-group-10 {
    width: 151px;
    min-height: 37px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 8px;
    margin-left: 101px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 65px;
    margin-left: auto;
  }

  .u-section-1 .u-group-11 {
    width: 308px;
    margin-top: 28px;
  }

  .u-section-1 .u-group-12 {
    width: 152px;
    min-height: 37px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 8px;
    margin-left: 102px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -69px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-7 {
    margin-left: auto;
  }

  .u-section-1 .u-group-13 {
    width: 300px;
    margin-top: 28px;
  }

  .u-section-1 .u-text-15 {
    margin-top: -69px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-8 {
    margin-top: 65px;
    margin-left: auto;
  }

  .u-section-1 .u-group-15 {
    width: 308px;
    margin-top: 28px;
  }

  .u-section-1 .u-text-17 {
    margin-top: -69px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    font-size: 3rem;
    margin-top: 176px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
    margin-right: 77px;
  }
}